#mainbody .category {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

#mainbody .adsspace {
    grid-column: 1 / -1;
}

#mainbody .category a {
    margin: 5px;
    padding: 10px;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    background-color: #2c3e50;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#mainbody .category a:hover{
    background-color: #2196f3;
}

@media screen and (max-width: 1380px) {
    #mainbody .category {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
@media screen and (max-width: 1250px) {
    #mainbody .category {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media screen and (max-width: 1040px) {
    #mainbody .category {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (max-width: 850px) {
    #mainbody .category {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 590px) {
    #mainbody .category {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 320px) {
    #mainbody {
        padding: 0px;
    }
    #mainbody .category a{
        margin: 2px 5px;
    }
}
